<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZOOTEC.My.MySettings.ZOOTECConnectionString" connectionString="Data Source=THALES-PC;Initial Catalog=ZOOTEC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ZOOTEC.My.MySettings.ZOOTECConnectionString1" connectionString="Data Source=(local);Initial Catalog=ZOOTEC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>